@model IEnumerable<finaltest.Models.SanPham>

@{
    ViewBag.Title = "timkiemsp";
    Layout = "~/Views/_Home.cshtml";
}

<div class="content-page">
    <div class="container">
        <!-- featured category  -->
        <div class="category-featured Vegetables">
            <nav class="navbar nav-menu show-brand">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand"><a href="#"> <img alt="fashion" src="~/Asset/images/icon_like.png" /> Sản phẩm</a></div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->

            </nav>
            <div class="product-featured clearfix">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="box-right">
                            <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                            @foreach (var item in Model)
                            {
                                <ul class="product-list">
                                    <li class="col-sm-3 product-item">
                                        <div class="left-block">
                                            <a href="/Home/SPDetail/@item.MaSP">
                                                <img class="img-responsive" alt="product"
                                                     src="~/Asset/images/product-detail/@item.Anh" />
                                            </a>

                                            <div class="quick-view">
                                                <a title="Add to my wishlist" class="heart" href="#"></a>
                                                <a title="Add to compare" class="compare" href="#"></a>
                                                <a title="Quick view" href="~/Asset/images/product-detail/Truyentranh/Conan.jpg" class="search fancybox-button"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a class="add-item-to-cart" title="Add to Cart" onclick="muahang('@item.MaSP')" data-name="Conan - 1 quyển"
                                                   data-price="16000" data-image="Truyentranh/Conan.jpg" data-product-code="SP109">Thêm vào giỏ hàng</a>
                                            </div>
                                            <div class="bestseller"></div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="/Home/SPDetail/@item.MaSP">@item.TenSP - 1 quyển</a></h5>

                                            <div class="content_price">
                                                <span class="price product-price"><span style="color: black">Giá bán:</span> @string.Format("{0:#,##0}", item.DonGia)</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                            <br /><br />

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- end featured category -->
        <!-- end featured category -->
    </div>
</div>


